<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
<h2>Admin Dashboard</h2>
<a href="/logout">Logout</a>
<hr>

{% for s in submissions %}
    <div class="card">
        <p><b>Name:</b> {{ s.name }}</p>
        <p><b>Email:</b> {{ s.email }}</p>
        <p><b>Phone:</b> {{ s.tel }}</p>
        <p><b>Message:</b> {{ s.message }}</p>
    </div>
{% endfor %}
</div>

</body>
</html>
