<!DOCTYPE html>
<html>
<head>
    <title>Join Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1">
</head>
<body>

<div class="container">
<h1>Join Us</h1>

<form method="POST" action="/submit">
    <label>Full Name</label>
    <input type="text" name="name" required>

    <label>Email</label>
    <input type="email" name="email" required>

    <label>Phone</label>
    <input type="tel" name="tel" required>

    <label>Message</label>
    <textarea name="message" required></textarea>

    <button type="submit">Submit</button>
</form>
</div>

</body>
</html>
